Repository AY2122S1-CS2113T-W12-2/tp, pull requests merged in 2021-10, with the labels that each got.

#14 Xuanlc timetable
  gradlew.bak
  src/main/java/seedu/command/AddCommand.java
  src/main/java/seedu/command/TimetableCommand.java
  src/main/java/seedu/duke/Duke.java
  src/main/java/seedu/module/Lesson.java
  src/main/java/seedu/storage/TimetableStorage.java
  src/main/java/seedu/timetable/LessonType.java
  src/main/java/seedu/timetable/Timetable.java
  src/main/java/seedu/timetable/TimetableLesson.java
  src/main/java/seedu/ui/TextUi.java
  src/main/java/seedu/ui/TimetableUI.java
  text-ui-test/EXPECTED.TXT
  text-ui-test/input.txt
  text-ui-test/out.txt
  text-ui-test/runtest.bat
  text-ui-test/runtest.sh
Labels: priority.High, Feature: Add, Feature: Timetable

#29 Level-Help
  src/main/java/seedu/command/HelpCommand.java
  src/main/java/seedu/parser/CommandParser.java
  src/main/java/seedu/ui/TextUi.java
Labels: priority.High, type.Story, Feature : Help

#27 added JUnitTests for Timetable for collision in timeslots
  build.gradle
  src/main/java/seedu/module/Lesson.java
  src/main/java/seedu/module/Module.java
  src/main/java/seedu/timetable/Timetable.java
  src/main/java/seedu/timetable/TimetableLesson.java
  src/test/java/seedu/timetable/TimetableTest.java
Labels: priority.Medium, type.Chore

#26 Add feature
  src/main/java/seedu/command/AddCommand.java
  src/main/java/seedu/duke/Duke.java
  src/main/java/seedu/module/Lesson.java
  src/main/java/seedu/module/Module.java
  src/main/java/seedu/module/Semester.java
  src/main/java/seedu/online/NusMods.java
  src/main/java/seedu/parser/CommandParser.java
  src/main/java/seedu/storage/ModStorage.java
  src/main/java/seedu/ui/TextUi.java
  timetable/CS1010.json
  timetableCS1010.json
  timetableCS2113T.json
Labels: priority.High, type.Story, Feature: Add

#54 Branch-Level-Clear -1
  src/main/java/seedu/command/AddCommand.java
  src/main/java/seedu/command/ClearCommand.java
  src/main/java/seedu/parser/CommandParser.java
  src/main/java/seedu/timetable/Timetable.java
  src/main/java/seedu/ui/TextUi.java
Labels: priority.High, Feature: Clear
